---
layout: course_default
---
<div class="columns">
  <div class="column">
    <h2 class="title is-pulled-left">Список курсов:</h2>
  </div>
  <div class="column is-one-fifth">
    <button class="button is-active has-background-grey-lighter is-pulled-rigth is-responsive">+Новый курс</button>     
  </div>
</div>  

<div class="downline"></div>

<%= yield %>
