---
layout: course_default
---
<div class="block">
  <div class="columns">
    <div class="column">
      <h2 class="title is-pulled-left">Список модулей:</h2>
    </div>
    <div class="column is-one-fifth">
      <button class="button is-active has-background-grey-lighter is-pulled-rigth is-responsive">+Новый модуль</button>	    
    </div>
  </div>	
</div>
<div class="downline"></div>

<%= yield %>
