<header>   
  <br>
  <br>
</header>

<aside class="menu">
  <ul class="menu-list">
    <li><a href="<%= relative_url '/courses' %>">Курсы</a></li>
    <li><a href="<%= relative_url '/modules' %>">Модули</a></li>
    <li><a href="<%= relative_url '/settings' %>">Настройки</a></li>
  </ul>  
</aside>
